// Utility helpers
.u-textRight {
  text-align: right;
}

.u-textLeft {
  text-align: left;
}

.u-textCenter {
  text-align: center;
}

.u-floatLeft {
  float: left;
}

.u-floatRight {
  float: right;
}

.u-noBold {
  font-weight: 100;
}

.u-fixed {
  position: fixed;
}

.u-textTruncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
